<%= title "修改密码" %>

<%= render "partial/left_navigation" %>

<% if current_user.username != "1234" %>
  <span class="notice"><%= flash[:notice] %></span>
  <%= simple_form_for(resource, :url => update_password_path, :html => { :method => :put }) do |f| %>
    <%= f.input :current_password, as: :password, input_html: {autocomplete: "off", class: "wenben4"} %>
    <%= f.input :password, as: :password, label: "新密码", input_html: {autocomplete: "off", class: "wenben4"} %>
    <%= f.input :password_confirmation, as: :password, input_html: {autocomplete: "off", class: "wenben4"} %>
    <div>
      <%= f.submit "确认", class: "btn-primary" %>
    </div>
  <% end %>

<% else %>
  您目前登录的是测试账户，所以无法修改密码
<% end %>


<script>
  $(function(){
    $("#shezhi").addClass("current")
    $("#bianji_mima").addClass("current")
  })
</script>
