<h2>发送解锁说明</h2>
<%= title "发送解锁说明" %>

<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email %>
  <%= f.button :submit, "发送解锁说明", class: "btn-primary" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
