<div id="header_singed">
    <div class="logo">
      <a href="<%= home_path %>">
        <%= image_tag "logo.gif", width: 120, height: 40 %>
      </a>
    </div>
    <div class="navigation">
       <ul>
         <li><%= link_to "首页", home_path, id: "shouye" %></li>
         <li><%= link_to "记帐", new_zhangmu_path, id: "jizhang" %></li>
         <li><%= link_to "设置", edit_user_registration_path, id: "shezhi" %></li>
      </ul>
    </div>
    <div class="other">
       <ul>
         <li><%= link_to "欢迎#{current_user.username}", home_path %></li>
         <li><%= link_to '退出', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
</div>


