<div class="navbar" id="signed_navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to '我的账本', home_path, class: "brand" %>
      <ul class="nav pull-left">
        <%= current_header_link "首页", home_path, id: "shouye" %>
        <li><%= current_header_link "记帐", new_zhangmu_path, id: "jizhang" %></li>
        <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          设置<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "账本管理", zhangbens_path, id: "zhangbenguanli" %></li>
          <li><%= link_to "分类管理", fenleis_path(search: {shouzhi_eq: "zhichu"}), id: "fenleiguanli" %></li>
          <li><%= link_to "人员管理", peoples_path, id: "renyuanguanli" %></li>
          <li><%= link_to '编辑用户信息', edit_user_registration_path, id: "bianjiyonghu" %></li>
          <li><%= link_to '修改密码', bianji_mima_path, id: "bianji_mima" %></li>
        </ul>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li><%= link_to "欢迎#{current_user.username}", home_path %></li>
        <li><%= link_to '退出', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>


