<% if @zhangmu.errors.any? %>
<ul>
<% @zhangmu.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul> 
<% end %>

<%= simple_form_for @zhangmu, html: {class: "validate_form"} do |f| %>
<%= f.input :user_id, as: "hidden", value: current_user.id %>
<%= f.input :shouzhi, collection: Zhangmu.get_shouzhi_values, value: @zhangmu.shouzhi, input_html: {class: "validate[required]"} %>
<%= f.input :title %>
<%= f.input :date, as:"string", value: @zhangmu.date, input_html: {onclick: "WdatePicker()", class: "validate[required, custom[date]]"} %>
<%= f.input :zhangben_id, collection: current_user.zhangbens, include_blank: @zhangmu.zhangben_id %>
<%= f.input :fee, input_html: {class: "validate[required, custom[number]]", value: params[:action] == "new" ? "" : @zhangmu.fee} %>
<%= f.input :people_id, collection: current_user.peoples, include_blank: @zhangmu.people_id %>
<%= f.input :fenlei_id, collection: current_user.zhangbens.first.fenleis, include_blank: @zhangmu.fenlei_id %>
<%= f.input :desc, input_html: {value: params[:action] == "new" ? "" : @zhangmu.desc} %>
<%= f.button :submit, "保存" %>
<% end %>


<script type="text/javascript">
$(function(){
  $("#zhangmu_zhangben_id option").click(function(){
    path = "/zhangbens/" + $(this).val()
    $.get(path, function(fenleis){
      $("#zhangmu_fenlei_id").html("")
      $.each(fenleis, function(i, fenlei){
        $("#zhangmu_fenlei_id").append("<option value="+fenlei.fenlei.id+">"+fenlei.fenlei.name+"</option>")
        }) 
      })
    }) 
  })
</script>


