  <table>
    <tr>
      <td colspan="6">
          <%= will_paginate @zhangmus %>
          <ul>
          <li>
          <%= link_to "查询", "#search", class: "boxy", title: "查询帐目" %>
          </li>
          <li>
          <a href="#" class="import_excel" title="这是超链接的标题">
            导出excel表
          </a>
          </li>
          </ul>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>平均支出: <%= Zhangmu.pingjun_zhichu(@search) %></li>
          <li>全部支出: <%= Zhangmu.quanbu_zhichu(@search) %></li>
          <li>平均收入: <%= Zhangmu.pingjun_shouru(@search) %></li>
          <li>全部收入: <%= Zhangmu.quanbu_shouru(@search) %></li>
        </ul>
      </td>
    </tr>
    <tr>
      <th><%= sort_link @search, :date %></th>
      <th><%= cn "zhangmu", "desc" %></th>
      <th><%= sort_link @search, :zhangben_id %></th>
      <th>
        <%= sort_link @search, :fenlei_id %>|
        <%= sort_link @search, :title %>|
        <%= sort_link @search, :shouzhi %>
      </th>
      <th><%= sort_link @search, :fee %></th>
      <th>操作</th>
    </tr>
    <% @zhangmus.each do |zhangmu| %>
      <tr>
        <td><%= l zhangmu.created_at.to_date %></td>
        <td><%= zhangmu.desc %></td>
        <td><%= zhangmu.zhangben.try(:name) %></td>
        <td><%= zhangmu.fenlei.name %>|<%= zhangmu.title %>|<%= zhangmu.shouzhi_text %></td>
        <td><%= zhangmu.fee %></td>
        <td>
          <%= link_to "编辑", edit_zhangmu_path(zhangmu) %>
          <%= link_to "删除", zhangmu, confirm: '确定删除这条帐目吗?', method: :delete %>
        </td>
      </tr>
    <% end %>

  </table>

<%= render "search" %>


<script type="text/javascript">

  $(function(){
    $(".boxy").boxy({
      modal: true
    });    
  })

  $('.import_excel').click(function() {
    Boxy.confirm("确定导出帐目吗", function() { });
    return false;
  });

</script>
