<%= title '编辑账目' %>

<div id="left_body">
  <ul>
    <li><%= link_to "全部", new_zhangmu_path, id: "zhangben" %></li>
    <% current_user.zhangbens.each do |zhangben| %>
      <li><%= link_to zhangben.name, new_zhangmu_path(search: {zhangben_id_eq: zhangben.id}), id: "zhangben#{zhangben.id}" %></li>
    <% end %>
  </ul>
</div>
<div id="right_body">
<div id="jizhang_info">
  <ul>
  <li>今日支出: <%= Zhangmu.dangtian_zhichu %></li>
  <li>全部支出: <%= Zhangmu.quanbu_zhichu(current_user.zhangmus) %></li>
  <li>日均支出: <%= Zhangmu.pingjun_zhichu(current_user.zhangmus)%></li>
  <li>本月支出: <%= Zhangmu.dangyue_zhichu %></li>
  <li>本月日均支出: <%= Zhangmu.dangyue_pingjun_zhichu %></li>
  <li>全部收入: <%= Zhangmu.quanbu_shouru(current_user.zhangmus) %></li>
  <li>平均收入: <%= Zhangmu.pingjun_shouru(current_user.zhangmus) %></li>
  </ul>
</div>

<%= render "form" %>
</div>


