<%= title '记账' %>

<div id="left_navigation">
  <ul>
    <li><%= link_to "全部", zhangmus_path, :class => "current" %></li>
    <li><a href="#">我的钱包</a></li>
    <li><a href="#">借入借出</a></li>
    <li><a href="#">看病</a></li>
  </ul>
</div>

<div id="right_body">

  <div id="info">
    <ul>
      <li>
        <span class="title">当天支出:</span>
        <%= Zhangmu.dangtian_zhichu %>
      </li>
      <li>
        <span class="title">全部支出:</span>
        <%= Zhangmu.quanbu_zhichu(current_user.zhangmus) %>
      </li>
      <li>
        <span class="title">日均支出:</span>
        <%= Zhangmu.pingjun_zhichu(current_user.zhangmus)%>
      </li>
      <li>
        <span class="title">当月支出:</span>
        <%= Zhangmu.dangyue_zhichu %>
      </li>
      <li>
        <span class="title">当月日均支出:</span>
        <%= Zhangmu.dangyue_pingjun_zhichu %>
      </li>
      <li>
        <span class="title">全部收入:</span>
        <%= Zhangmu.quanbu_shouru(current_user.zhangmus) %>
      </li>
      <li>
        <span class="title">平均收入:</span>
        <%= Zhangmu.pingjun_shouru(current_user.zhangmus) %>
      </li> 
    </ul>
  </div>

  <div id="form">

    <div class="error_messages error_notice">
    <% if @zhangmu.errors.any? %>
    <ul>
      <% @zhangmu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul> 
    <% end %>
    </div>

    <%= render "new" %>

  </div>

  <div id="zhangmu_list">
    <table>
      <tr class="table_header">
        <td colspan="6">
          <div class="left">
          </div>
          <div class="center">
            <%= will_paginate @zhangmus %>
          </div>
          <div class="right">
            <ul>
            <li>
            <%= link_to "查询", "#search", :class => "boxy", :title => "查询帐目" %>
            </li>
            <li>
            <a href="#" class="import_excel" title="这是超链接的标题">
              导出excel表
            </a>
            </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr class="table_info_line">
        <td colspan="6">
          <ul>
            <li>平均支出: <%= Zhangmu.pingjun_zhichu(@search) %></li>
            <li>全部支出: <%= Zhangmu.quanbu_zhichu(@search) %></li>
            <li>平均收入: <%= Zhangmu.pingjun_shouru(@search) %></li>
            <li>全部收入: <%= Zhangmu.quanbu_shouru(@search) %></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th class="date"><%= sort_link @search, :date %></th>
        <th class="desc"><%= cn "zhangmu", "desc" %></th>
        <th class="account"><%= sort_link @search, :zhangben_id %></th>
        <th class="cta">
          <%= sort_link @search, :fenlei_id %>|
          <%= sort_link @search, :title %>|
          <%= sort_link @search, :shouzhi %>
        </th>
        <th class="money"><%= sort_link @search, :fee %></th>
        <th class="option">操作</th>
      </tr>
      <% @zhangmus.each do |zhangmu| %>
        <tr>
          <td class="date"><%= l zhangmu.created_at.to_date %></td>
          <td class="desc"><%= zhangmu.desc %></td>
          <td class="account"><%= zhangmu.zhangben.try(:name) %></td>
          <td class="cta"><%= zhangmu.fenlei.name %>|<%= zhangmu.title %>|<%= zhangmu.shouzhi_text %></td>
          <td class="fee"><%= zhangmu.fee %></td>
          <td class="option">
            <%= link_to "编辑", edit_zhangmu_path(zhangmu) %>
            <%= link_to "删除", zhangmu, :confirm => '确定删除这条帐目吗?', :method => :delete %>
          </td>
        </tr>
      <% end %>

    </table>
  </div>

  <%= render "search" %>


<script type="text/javascript">
  jQuery(function(){
    jQuery(".jizhang").addClass("current")
  })

  jQuery(function(){
    jQuery(".boxy").boxy({
      modal: true,
    });    
  })

  jQuery('.import_excel').click(function() {
    Boxy.confirm("确定导出帐目吗", function() { });
    return false;
  });

</script>
