<%= title '记账' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
        <%= current_link "全部", new_zhangmu_path, id: "zhangben" %>
        <% current_user.zhangbens.each do |zhangben| %>
          <%= current_link zhangben.name, new_zhangmu_path(search: {zhangben_id_eq: zhangben.id}), id: "zhangben#{zhangben.id}" %>
        <% end %>
        <%= current_link "未分类账本", new_zhangmu_path(search: {zhangben_id_is_null: true}), id: "zhangben_weifenlei" %>
      </ul>      
    </div>
    <div class="span10">

      <ul class="zhangmu_info">
        <li>今日支出: <%= Zhangmu.dangtian_zhichu %></li>
        <li>全部支出: <%= Zhangmu.quanbu_zhichu(current_user.zhangmus) %></li>
        <li>日均支出: <%= Zhangmu.pingjun_zhichu(current_user.zhangmus)%></li>
        <li>本月支出: <%= Zhangmu.dangyue_zhichu %></li>
        <li>本月日均支出: <%= Zhangmu.dangyue_pingjun_zhichu %></li>
        <li>全部收入: <%= Zhangmu.quanbu_shouru(current_user.zhangmus) %></li>
        <li>平均收入: <%= Zhangmu.pingjun_shouru(current_user.zhangmus) %></li>
      </ul>

      <%= render "form" %>

      <div>
        <table class="zhangmu_table table">
          <tbody>
            <tr>
              <td colspan="7">
                <div class="left">
                  <ul>
                    <li>
                    <%= link_to "统计饼图", "#tongji", class: "boxy", title: "统计饼图" %>
                    </li>
                    <li>
                    <%= link_to "查询", "#search", class: "boxy", title: "查询帐目" %>
                    </li>
                    <li>
                    <a href="#" class="import_excel" title="这是超链接的标题">
                      导出excel表
                    </a>
                    </li>
                  </ul>                  
                </div>
                <div class="center">
                  <%= will_paginate @zhangmus %>
                </div>
                <div class="right">

                </div>
              </td>
            </tr>
            <tr>
              <td colspan="7">
                <ul class="table_zhangmu_info">
                  <li>平均支出: <%= Zhangmu.pingjun_zhichu(@search) %></li>
                  <li>全部支出: <%= Zhangmu.quanbu_zhichu(@search) %></li>
                  <li>平均收入: <%= Zhangmu.pingjun_shouru(@search) %></li>
                  <li>全部收入: <%= Zhangmu.quanbu_shouru(@search) %></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th><%= sort_link @search, :shouzhi, "收支" %></th>
              <th><%= sort_link @search, :date %></th>
              <th><%= sort_link @search, :fee %></th>
              <th><%= sort_link @search, :title %></th>
              <th>描述</th>
              <th>
                <%= sort_link @search, :zhangben_id %>|<%= sort_link @search, :fenlei_id %>
              </th>
              
              <th>操作</th>
            </tr>
            <% @zhangmus.each do |zhangmu| %>
              <tr>
                <td><%= zhangmu.shouzhi_text %></td>
                <td><%= l zhangmu.date %></td>
                <td><%= zhangmu.fee %></td>
                <td><%= zhangmu.title %></td>
                <td><%= zhangmu.desc %></td>
                <td><%= zhangmu.zhangben.try(:name) %>|<%= zhangmu.fenlei.try(:name) %></td>
                <td>
                  <%= link_to "编辑", edit_zhangmu_path(zhangmu) %>&nbsp;<%= link_to "删除", zhangmu, confirm: '确定删除这条帐目吗?', method: :delete %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan="7">
                <div>
                  <%= will_paginate @zhangmus %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <%= render "search" %>

    <div id="tongji" style="display:none;">
      <div id="tongji_bingtu"></div>
    </div>

  </div>
</div>
</div>

<script>
  $(function(){

    $(".boxy").boxy({});    

    $('.import_excel').click(function() {
      Boxy.confirm("确定导出帐目吗", function() { });
      return false;
    })

    $("a[href='#tongji']").click(function(){

      var chart_option = {
        chart: {
          backgroundColor: "#F2F2F2",
          renderTo: 'tongji_bingtu',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          height: "450",
          width: "650"
        },
        title: {
          text: "统计饼图"
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
              }
            }
          }
        },
        series: [{
          type: 'pie',
          name: 'Browser share',
          data: []
        }]
      }

      $.get("<%= percentage_zhangmus_path(search: params[:search]) %>", {}, function(data){
        chart_option.series[0].data = data.quanbu
        new Highcharts.Chart(chart_option)
      })


    })

  })

</script>
