<%= title "登陆" %>

<div id="bottom_body">
  <div class="login_form">
    <span id="notice" class="success_notice">
    </span>
    <span class="error_messages error_notice">
      <ul>
        <li><%= alert %></li>
      </ul> 
    </span>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <table>
        <tr>
          <td><%= f.label :login %>:</td>
          <td><%= f.text_field :login, :value => "请输入用户名或email", :class => "login_input" %></td>
        </tr>
        <tr>
          <td><%= f.label :password %>:</td>
          <td> <%= f.password_field :password, :class => "login_input" %></td>
        </tr>
        <% if devise_mapping.rememberable? -%>
        <tr>
          <td class="remember">
            <a href="#" class="un_underline_link">
              <%= t 'activerecord.attributes.user.remember_me' %>:
            </a>
          </td>
          <td style="text-align:left;"><%= f.check_box :remember_me %></td>
        </tr>
        <% end %>
        <tr>
          <td></td>
          <td style="text-align:right">
            <%= f.submit "登陆", :class => "submit" %>
          </td>
        </tr> 
      </table>
    <% end %>

    <div id="test_account" class="success_notice">
      测试账户:  1234/1234
    </div>
  </div>
</div>


<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery("input[name='user[login]']").attr("class", "qianse_text login_input")
    username_value = jQuery("input[name='user[login]']").val()
    jQuery("input[name='user[login]']").bind("focus", function(){
      if(jQuery(this).val()==username_value){
        jQuery(this).attr("class", "login_input")
        jQuery(this).attr("value", "")
      }
    })

    jQuery("input[name='user[login]']").bind("blur", function(){
      if (jQuery(this).attr("value")==''){
        jQuery(this).attr("value", username_value)
        jQuery(this).attr("class", "qianse_text login_input")
      }
    })

    jQuery(".remember").bind("click", function(){
      is_checked = jQuery("input[name='user[remember_me]']").attr("checked")
      if (is_checked){
        jQuery("input[name='user[remember_me]']").attr("checked", false)
      }else{
        jQuery("input[name='user[remember_me]']").attr("checked", true) 
      }
    })

    jQuery(".login").addClass("current")
  })
</script>
