<%= title "登陆" %>


<%= simple_form_for(resource, as: "user", url: session_path(resource_name)) do |f| %>
  <div class="alert">
    <b><%= alert %></b>
  </div>
  <%= f.input :login %>
  <%= f.input :password %>
  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean %>
  <% end %>

  <div>
    <%= f.button :submit, "登陆", class: "btn-primary" %>
    <input value="试用" type="button" class="btn" id="test_button"/>
  </div>
<% end %>




<script>
  $(function(){

    $("#test_button").bind("click", function(){
      $("#user_login").attr("value", "1234")
      $("#user_password").attr("value", "1234")
      $("#new_user").submit()
    })
  })
</script>



