
<div class="row-fluid">
  <div class="span9 offset3">
    <%= simple_form_for @fenlei, html: {class: "validate_form"} do |f| %>
      <%= f.input :name, input_html: {class: "validate[required, maxSize[20]] wenben4"} %>
      <%= f.input :shouzhi, as: :radio_buttons, collection: Fenlei.get_shouzhi_values %>
      <%= f.input :desc, input_html: {class: "validate[maxSize[1000]] text1"} %>
      <div>
        <%= f.button :submit, "чбошод", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
</div>


