<h1>类别管理</h1>
<% title "类别管理" %>


<table>
  <tr>
    <th>名称</th>
    <th><%= sort_link @search, :shouzhi %></th>
    <th>说明</th>
    <th>操作</th>
  </tr>
<% @fenleis.each do |fenlei| %>
  <tr>
    <td><%= fenlei.name %></td>
    <td><%= fenlei.shouzhi_text %></td>
    <td><%= fenlei.desc %></td>
    <td>
      <%= link_to "编辑", edit_fenlei_path(fenlei) %>
      <%= link_to "删除", fenlei_path(fenlei), method: :delete, confirm: "确定删除吗?" %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to '添加分类', new_fenlei_path %>
