<% title "类别管理" %>

<div class="row-fluid">
  <div class="span9 offset3">

    <table class="table">
      <tr>
        <td colspan="4">
          <span>
            <% if params[:search].try(:[], :shouzhi_eq) == "zhichu" %>
              当前为 支出分类,还需要<%= link_to '添加分类', new_fenlei_path %>吗？或者管理<%= link_to "收入分类", fenleis_path(search: {shouzhi_eq: "shouru"}) %>? 
            <% else %>
              当前为 收入分类,还需要<%= link_to '添加分类', new_fenlei_path %>吗？或者管理<%= link_to "支出分类", fenleis_path(search: {shouzhi_eq: "zhichu"}) %>? 
            <% end %>
          </span>
        </td>
      </tr>
      <tr>
        <th>默认</th>
        <th>名称</th>
        <th>说明</th>
        <th>操作</th>
      </tr>
      <% @fenleis.each do |fenlei| %>
        <tr>
          <td>
            <%= radio_button_tag "fenlei", fenlei.id, fenlei.position == "1" %>
          </td>
          <td>
            <%= link_to fenlei.name, edit_fenlei_path(fenlei) %>
          </td>
          <td><%= fenlei.desc %></td>
          <td>
            <%= link_to "编辑", edit_fenlei_path(fenlei) %>
            <%= link_to "删除", fenlei_path(fenlei), method: :delete, confirm: "确定删除吗?" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


<script>
  $(function(){

    $(":radio[name='fenlei']").bind("change", function(){
      var fenlei_id = $(this).val()
      $.get("/fenleis/"+fenlei_id+"/set_default")
    })

  })
</script>


