<% title "人员管理" %>


<div class="row-fluid">
  <div class="span9 offset3">
  <table class="table">
    <tr>
      <td colspan="4">
          <%= link_to '添加人员', new_people_path %>
      </td>
    </tr>
    <tr>
      <th>默认</th>
      <th>名称</th>
      <th>说明</th>
      <th>操作</th>
    </tr>
    <% @peoples.each do |people| %>
    <tr>
      <td>
        <%= radio_button_tag "people", people.id, people.position == "1" %>
      </td>
      <td><%= link_to people.name, edit_people_path(people) %></td>
      <td><%= people.desc %></td>
      <td>
        <%= link_to "编辑", edit_people_path(people) %>
        <%= link_to "删除", people_path(people), method: :delete, confirm: "确定删除吗?" %>
      </td>
    </tr>
  <% end %>

  </table>
</div>
</div>

<script>
  $(function(){
    $(":radio[name='people']").bind("change", function(){
      var people_id = $(this).val()
      $.get("/peoples/"+people_id+"/set_default", {id: people_id})
    })

  })
</script>
