<h1>人员管理</h1>
<% title "人员管理" %>


<table>
  <tr>
    <th>名称</th>
    <th>说明</th>
    <th>操作</th>
  </tr>
<% @peoples.each do |people| %>
  <tr>
    <td><%= people.name %></td>
    <td><%= people.desc %></td>
    <td>
      <%= link_to "编辑", edit_people_path(people) %>
      <%= link_to "删除", people_path(people), method: :delete, confirm: "确定删除吗?" %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to '添加人员', new_people_path %>
