<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "" %>我的账本</title>
    <%#<link rel="icon" href="/assets/favicon.ico" width="100">%>
    <%= yield(:head) %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "/javascripts/My97DatePicker/WdatePicker" %>
    <%= csrf_meta_tag %>
  </head>
  <% if user_signed_in? %>
    <body id="body_singed">
      <%= render 'partial/signed_in_header' %>
      <%= notice %>
      <%= yield %>
    </body>
  <% else %>
    <body id="body_unsinged">
      <%= render 'partial/un_signed_in_header' %>
      <%= notice %>
      <%= yield %>
    </body>
  <% end %>
</html>
