<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "" %>我的账本</title>
    <%= yield(:head) %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "/javascripts/My97DatePicker/WdatePicker" %>
    <%= csrf_meta_tag %>
  </head>
  <body id="main">
    <%= render '/partial/header' %>

    <p class="notice success_notice"><%= notice %></p>
    <%= yield %>

  </body>
</html>
