<!DOCTYPE html>
<html>
  <head>
    <%= yield(:head) %>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery", "jquery.boxy", "highcharts", "My97DatePicker/WdatePicker" %>
    <script type="text/javascript">
      jQuery.noConflict();
    </script>
    <%= csrf_meta_tag %>
  </head>
  <body id="main">
    <%= render '/partial/header' %>

    <p class="notice success_notice"><%= notice %></p>
    <%= yield %>

  </body>
</html>
